node_modules/
.yarn/*
.turbo/
.nx/
.next/
*.tsbuildinfo
.pnpm-nx-fixture*/
.vite/
dist/
.pnp.*
packages/*/result*.txt

.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

services/*/next-env.d.ts
